.form-filter {
	border: 1px solid lightblue;
	width: 500px;
	padding: 25px;
}
.form-filter .form-div {
	display: flex; 
	flex-direction: column;
	margin-bottom: 20px;
}
.form-filter .form-div input {
	border: 1px solid lightskyblue;
	width: 200px;
}
.form-filter .btn-fl, .btn-dl {
	padding: 10px 15px;
	border: 1px solid grey;
	background: white;
	border-radius: 5px;
}
.form-filter .btn-fl:hover, .btn-dl:hover {
	border: 1px dotted; grey;
}
.btn-fl {
	margin-right: 20px;
}